body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.geral {
    background: linear-gradient(300deg, #3498db, #e74c3c, blue);
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 90%;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-h1 {
    color: #fafafa;
    margin-bottom: 20px;
    text-align: center;
}

.div-h1 h1{
    font-size: 2.5em;
}

.div-btn {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.div-btn button {
    padding: 10px 40px;
    background-color: #3498db;
    color: #fff;
    border: white solid 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.div-btn button:hover {
    background-color: #2980b9;
}

.div-btn button:active {
border: black 1px solid;}

.tempoRestante {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
}

.div-clique {
    text-align: center;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
}

.divCliqueEmMim {
    padding: 20px 60px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: black solid 1px;
    transition: background-color 0.05s;
}

.divCliqueEmMim:active {
    background-color: #eebdb8;
    border: 2px black solid;
}

.div-content-result {
    margin-top: 20px;
    text-align: center;
    color: #e74c3c;
}

.div-resultados{
    display: flex;
    justify-content: space-around;
}

.p{
    color: black;
    font-size: 1.3em;
}

.div-content-tempo{
    text-align: center;
}

.tempoRestante{
    font-size: 3em;
    font-weight: bold;
    -webkit-text-stroke: 1px #fcf4f4;
}

.btnComecar{
    padding: 10px 40px;
    background-color: #18a523;
    color: #fff;
    border: white solid 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnComecar:hover{
    background-color: #17611d;
}

.btnComecar:active{
    border: solid 1px black;
}

.div-h1 p {
    color: white;
    font-style: italic;
    font-size: 15px;
}
    
